body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.navbar{
    width: 400px;
    display: flex;
    color: #000000;
    justify-content: space-between;
    list-style: none;
}

.link_navbar {
    position: relative;
    color: #000000; /* Cor do link */
    text-decoration: none;
    overflow: hidden;
  }
  
  .link_navbar::before,
  .link_navbar::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Posiciona a linha abaixo do link */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff0000; /* Cor da linha */
    transition: width 0.3s ease; /* Adiciona transição suave */
  }
  
  .link_navbar::before {
    transition-delay: 0.1s; /* Adiciona atraso para a segunda linha */
  }
  
  .link_navbar:hover::before,
  .link_navbar:hover::after {
    width: 50%; /* Expande a largura da linha ao passar o mouse */
  }
  
  .link_navbar:hover::after {
    transition-delay: 0s; /* Remove o atraso para a segunda linha */
  }

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #fa0000;
}

.titulo {
    color: #ff0000;
    font-weight: 500;
}


/*.navbar {
    width: 400px;
    display: flex;
    color: #000000;
    justify-content: space-between;
    list-style: none;
    /*pra tirar as bolinhas da lista
    align-items: center;
} */